{
  "openapi": "3.0.3",
  "info": {
    "title": "Gamma Public API",
    "version": "1.0.0",
    "description": "The Gamma Public API allows you to programmatically generate presentations, documents, and social media content using AI.\n\n## Authentication\nAll endpoints require an API key passed via the `X-API-KEY` header.\n\n## Rate Limits\n- **Per API Key**: Hundreds of requests per hour, thousands per day\n- **Burst Protection**: Additional safeguards against rapid-fire requests\n- Limits reset on rolling time windows\n\n## Credits\nEach generation deducts credits based on complexity:\n- Cards: 3-4 credits each\n- Images: 2-120 credits depending on model\n\n## Updates\nLast updated: 2025-11-12\n",
    "contact": {
      "url": "https://developers.gamma.app"
    }
  },
  "servers": [
    {
      "url": "https://public-api.gamma.app",
      "description": "Production"
    },
    {
      "url": "https://public-api.staging.gamma.app",
      "description": "Staging"
    },
    {
      "url": "https://localhost:7000/public-api",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1.0/generations": {
      "post": {
        "summary": "Create asynchronous generation",
        "description": "Creates a new Gamma (presentation/document/social/webpage) asynchronously.\nReturns immediately with a generation ID to poll for status.\n\n**Limits:**\n- Input text: Max 400,000 characters\n- Cards: 60 (Pro), 75 (Ultra)\n",
        "operationId": "createGeneration",
        "tags": [
          "Generations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests (rate limit exceeded)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/generations/{id}": {
      "get": {
        "summary": "Check generation status",
        "description": "Poll this endpoint to check the status of an asynchronous generation",
        "operationId": "getGenerationStatus",
        "tags": [
          "Generations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation ID returned from POST /v1.0/generations"
          }
        ],
        "responses": {
          "200": {
            "description": "Generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationStatus"
                }
              }
            }
          },
          "404": {
            "description": "Generation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/generations/from-template": {
      "post": {
        "summary": "Generate from existing Gamma (remix)",
        "description": "Use an existing Gamma as a template and regenerate with new prompts.\n\n**Requirements:**\n- The template Gamma (gammaId) must contain exactly ONE page\n- You must have access to the template Gamma\n",
        "operationId": "createFromTemplateGeneration",
        "tags": [
          "Generations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FromTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation errors, multi-page template)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template Gamma not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/themes": {
      "get": {
        "summary": "List available themes",
        "description": "Returns themes available in your workspace and global themes.\nSupports cursor-based pagination.\n",
        "operationId": "listThemes",
        "tags": [
          "Themes"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Number of items per page"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from previous response's nextCursor"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter themes by name (case-insensitive)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of themes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/folders": {
      "get": {
        "summary": "List workspace folders",
        "description": "Returns folders (channels) that you have access to in your workspace.\nSupports cursor-based pagination.\n",
        "operationId": "listFolders",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Number of items per page"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor from previous response's nextCursor"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by folder name or slug (case-insensitive)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of folders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FoldersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.0/me": {
      "get": {
        "summary": "Get user information",
        "description": "Returns information about the authenticated user and workspace",
        "operationId": "getMe",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key with format sk-gamma-xxxxx"
      }
    },
    "schemas": {
      "GenerationRequest": {
        "type": "object",
        "required": [
          "inputText",
          "textMode"
        ],
        "properties": {
          "inputText": {
            "type": "string",
            "maxLength": 400000,
            "description": "Content to generate from",
            "example": "Create a presentation about renewable energy"
          },
          "textMode": {
            "type": "string",
            "enum": [
              "generate",
              "condense",
              "preserve"
            ],
            "description": "How to handle input text:\n- `generate`: AI generates content based on the input\n- `condense`: AI condenses and restructures the input\n- `preserve`: AI preserves the input text structure\n"
          },
          "format": {
            "type": "string",
            "enum": [
              "presentation",
              "document",
              "social",
              "webpage"
            ],
            "default": "presentation",
            "description": "Output format type"
          },
          "numCards": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of cards/slides to generate (max 60 for Pro, 75 for Ultra)",
            "example": 10
          },
          "cardSplit": {
            "type": "string",
            "enum": [
              "inputTextBreaks",
              "auto"
            ],
            "default": "auto",
            "description": "How to split content into cards:\n- `auto`: AI automatically determines card breaks\n- `inputTextBreaks`: Use line breaks from input text\n"
          },
          "themeId": {
            "type": "string",
            "description": "Theme ID from GET /v1.0/themes",
            "example": "theme123"
          },
          "additionalInstructions": {
            "type": "string",
            "maxLength": 5000,
            "description": "Additional instructions for generation"
          },
          "textOptions": {
            "$ref": "#/components/schemas/TextOptions"
          },
          "imageOptions": {
            "$ref": "#/components/schemas/ImageOptions"
          },
          "cardOptions": {
            "$ref": "#/components/schemas/CardOptions"
          },
          "sharingOptions": {
            "$ref": "#/components/schemas/SharingOptions"
          },
          "folderIds": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "description": "Folder IDs to add the generated content to"
          },
          "exportAs": {
            "type": "string",
            "enum": [
              "pptx",
              "pdf"
            ],
            "description": "Export format - ONE per generation (PDF or PPTX, not both)"
          }
        }
      },
      "FromTemplateRequest": {
        "type": "object",
        "required": [
          "prompt",
          "gammaId"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "maxLength": 400000,
            "description": "New prompt to regenerate the template with",
            "example": "Remake this presentation for a technical audience"
          },
          "gammaId": {
            "type": "string",
            "description": "File ID of the Gamma to use as template (must be single-page)",
            "example": "file_abc123"
          },
          "themeId": {
            "type": "string",
            "description": "Theme ID from GET /v1.0/themes"
          },
          "imageOptions": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "AI image model (e.g., imagen-3-flash, dall-e-3)"
              },
              "style": {
                "type": "string",
                "maxLength": 10000,
                "description": "Image style description"
              }
            }
          },
          "sharingOptions": {
            "$ref": "#/components/schemas/SharingOptions"
          },
          "folderIds": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            }
          },
          "exportAs": {
            "type": "string",
            "enum": [
              "pptx",
              "pdf"
            ],
            "description": "Export format - ONE per generation"
          }
        }
      },
      "TextOptions": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "enum": [
              "brief",
              "medium",
              "detailed",
              "extensive"
            ],
            "default": "medium",
            "description": "Amount of text to generate"
          },
          "tone": {
            "type": "string",
            "maxLength": 10000,
            "description": "Tone description (e.g., \"professional and friendly\")"
          },
          "audience": {
            "type": "string",
            "maxLength": 10000,
            "description": "Target audience description"
          },
          "language": {
            "type": "string",
            "description": "Language code (ISO 639-1)",
            "default": "en",
            "example": "en"
          }
        }
      },
      "ImageOptions": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "aiGenerated",
              "webAllImages",
              "webFreeToUse",
              "webFreeToUseCommercially",
              "pictographic",
              "giphy",
              "unsplash",
              "placeholder",
              "noImages"
            ],
            "default": "aiGenerated",
            "description": "Image source type"
          },
          "model": {
            "type": "string",
            "description": "AI image model (e.g., imagen-3-flash, dall-e-3)"
          },
          "style": {
            "type": "string",
            "maxLength": 10000,
            "description": "Image style description"
          }
        }
      },
      "CardOptions": {
        "type": "object",
        "properties": {
          "dimensions": {
            "type": "string",
            "enum": [
              "16x9",
              "4x3",
              "fluid",
              "letter",
              "a4",
              "pageless",
              "1x1",
              "4x5",
              "9x16"
            ],
            "default": "fluid",
            "description": "Card aspect ratio/dimensions"
          },
          "headerFooter": {
            "$ref": "#/components/schemas/HeaderFooter"
          }
        }
      },
      "HeaderFooter": {
        "type": "object",
        "description": "Header/footer configuration for cards (up to 6 positions)",
        "properties": {
          "topLeft": {
            "$ref": "#/components/schemas/HeaderFooterElement"
          },
          "topCenter": {
            "$ref": "#/components/schemas/HeaderFooterElement"
          },
          "topRight": {
            "$ref": "#/components/schemas/HeaderFooterElement"
          },
          "bottomLeft": {
            "$ref": "#/components/schemas/HeaderFooterElement"
          },
          "bottomCenter": {
            "$ref": "#/components/schemas/HeaderFooterElement"
          },
          "bottomRight": {
            "$ref": "#/components/schemas/HeaderFooterElement"
          },
          "hideFromFirstCard": {
            "type": "boolean",
            "default": false
          },
          "hideFromLastCard": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "HeaderFooterElement": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "cardNumber",
              "image",
              "text"
            ],
            "description": "Type of header/footer element"
          },
          "source": {
            "type": "string",
            "enum": [
              "themeLogo",
              "custom"
            ],
            "description": "Required if type=image"
          },
          "src": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "Required if type=image and source=custom (must be HTTPS)"
          },
          "value": {
            "type": "string",
            "maxLength": 500,
            "description": "Required if type=text"
          },
          "size": {
            "type": "string",
            "enum": [
              "sm",
              "md",
              "lg",
              "xl"
            ],
            "description": "Optional, for images only"
          }
        }
      },
      "SharingOptions": {
        "type": "object",
        "properties": {
          "workspaceAccess": {
            "type": "string",
            "enum": [
              "edit",
              "comment",
              "view",
              "noAccess",
              "fullAccess"
            ],
            "description": "Access level for workspace members"
          },
          "externalAccess": {
            "type": "string",
            "enum": [
              "edit",
              "comment",
              "view",
              "noAccess"
            ],
            "description": "Access level for external users (via link)"
          },
          "enableSearchEngineIndexing": {
            "type": "boolean",
            "default": false,
            "description": "Allow search engines to index"
          },
          "emailOptions": {
            "type": "object",
            "required": [
              "recipients",
              "access"
            ],
            "properties": {
              "recipients": {
                "type": "array",
                "maxItems": 25,
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Email addresses to share with"
              },
              "access": {
                "type": "string",
                "enum": [
                  "edit",
                  "comment",
                  "view",
                  "fullAccess"
                ],
                "description": "Access level for recipients"
              }
            }
          }
        }
      },
      "GenerationResponse": {
        "type": "object",
        "required": [
          "generationId"
        ],
        "properties": {
          "generationId": {
            "type": "string",
            "description": "ID to poll for status",
            "example": "abc123xyz"
          },
          "warnings": {
            "type": "string",
            "description": "Optional warnings about the request"
          }
        }
      },
      "GenerationStatus": {
        "type": "object",
        "required": [
          "generationId",
          "status"
        ],
        "properties": {
          "generationId": {
            "type": "string",
            "example": "abc123xyz"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed"
            ],
            "description": "Current status of the generation"
          },
          "gammaUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the generated Gamma (when completed)",
            "example": "https://gamma.app/docs/abc123"
          },
          "exportUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to download export file (when export requested and completed)",
            "example": "https://gamma.app/export/abc123.pdf"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "Credits": {
        "type": "object",
        "required": [
          "deducted",
          "remaining"
        ],
        "properties": {
          "deducted": {
            "type": "integer",
            "description": "Credits deducted for this generation",
            "example": 150
          },
          "remaining": {
            "type": "integer",
            "description": "Credits remaining in account",
            "example": 3000
          }
        }
      },
      "ThemesResponse": {
        "type": "object",
        "required": [
          "data",
          "hasMore"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Theme"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more pages exist"
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for next page (null on last page)"
          }
        }
      },
      "Theme": {
        "type": "object",
        "required": [
          "id",
          "name",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "theme123"
          },
          "name": {
            "type": "string",
            "example": "Modern Professional"
          },
          "type": {
            "type": "string",
            "enum": [
              "standard",
              "custom"
            ]
          },
          "colorKeywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "blue",
              "corporate"
            ]
          },
          "toneKeywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "professional",
              "clean"
            ]
          }
        }
      },
      "FoldersResponse": {
        "type": "object",
        "required": [
          "data",
          "hasMore"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Folder"
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "fold_abc123"
          },
          "name": {
            "type": "string",
            "example": "Marketing"
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "required": [
          "email",
          "workspaceName"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "workspaceName": {
            "type": "string",
            "example": "My Workspace"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message",
          "statusCode"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description",
            "example": "Input validation errors: 1. format must be one of: presentation, document, social"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 400
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Generations",
      "description": "Create and manage AI-generated content"
    },
    {
      "name": "Themes",
      "description": "List available themes"
    },
    {
      "name": "Folders",
      "description": "List workspace folders"
    },
    {
      "name": "User",
      "description": "User and workspace information"
    }
  ]
}
